---
layout: default
---

{% assign posts = site.posts | sort: "date" | reverse %}

<section>
  {% if content != blank %}
    {{ content }}
  {% endif %}

{% if posts.size > 0 %}
    <ul class="post-list">
      {% for post in posts %}
        {% assign primary_category = post.categories | first %}
        <li class="post-list-item">
          <a href="{{ post.url | relative_url }}" class="post-list-link">
            {{ post.title }}
          </a>
          <div class="post-list-meta">
            {{ post.date | date: "%Y-%m-%d" }}
            {% if primary_category %}
              · {{ primary_category | replace: "-", " " | replace: "_", " " | capitalize }}
            {% endif %}
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No posts yet.</p>
  {% endif %}
</section>
